<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>doctorItems</key>
	<array>
		<dict>
			<key>imagePath</key>
			<string>http://img.guahao.cn/images/image140//expert/cb4e1476-c12a-4a11-a53a-3842e9c849c6/4d355044-ce43-439e-b804-f3fd4019fc0d.jpg?timestamp=1418195701445</string>
			<key>dName</key>
			<string>罗岩</string>
			<key>dposition</key>
			<string>副主任医师</string>
			<key>dhospital</key>
			<string>北京协和医院</string>
			<key>doffice</key>
			<string>眼科</string>
			<key>dgoodat</key>
			<string>擅长：近视散光手术治疗，白内障手术，角膜病</string>
			<key>dintroduce</key>
			<string>罗岩，女，中国协和医科大学眼科学博士。中华医学会眼科分会视光学组委员。1995年以来已知工作在北京协和医院眼科临床一线，在丰富的眼部疾病诊治经验。擅长屈光手术，有丰富的手术经验，和处理并发症及疑难病例的经验。</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201512/10/1449726200116_9154.jpg</string>
			<key>dName</key>
			<string>宋奋勤</string>
			<key>dposition</key>
			<string>副主任医师</string>
			<key>dhospital</key>
			<string>北京妇产医院东院</string>
			<key>doffice</key>
			<string>妇科</string>
			<key>dgoodat</key>
			<string>擅长：擅长诊治妇科感染性疾病(各类生殖道感染，盆腔炎，宫颈炎，阴道炎，妇科内分泌疾病)</string>
			<key>dintroduce</key>
			<string>暂无医生介绍</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201505/14/thumbnail_1431593850712_1431593843395.jpg</string>
			<key>dName</key>
			<string>张涛</string>
			<key>dposition</key>
			<string>主治医师</string>
			<key>dhospital</key>
			<string>北京协和医院</string>
			<key>doffice</key>
			<string>皮肤性病科</string>
			<key>dgoodat</key>
			<string>擅长：湿疹皮炎、硬皮病、痤疮、性病、银屑病、白癜风、皮炎</string>
			<key>dintroduce</key>
			<string>张涛，男，主治医师，北京大学医学部临床医学毕业，北京协和医科大学在职硕士研究生，擅长治疗硬皮病，性病，皮炎湿疹，银屑病，坐床，荨麻疹</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201509/17/thumbnail_1442457395078_temp.jpg</string>
			<key>dName</key>
			<string>高伟</string>
			<key>dposition</key>
			<string>主治医师</string>
			<key>dhospital</key>
			<string>北京空军总医院</string>
			<key>doffice</key>
			<string>皮肤科</string>
			<key>dgoodat</key>
			<string>擅长：过敏性皮炎、湿疹、坐床、荨麻疹、银屑病、白癜风、灰指甲等常见皮肤科疾病诊治</string>
			<key>dintroduce</key>
			<string>暂无医生介绍</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201512/02/thumbnail_1449040699866_1449043271352.jpg</string>
			<key>dName</key>
			<string>侯铸</string>
			<key>dposition</key>
			<string>主任医师</string>
			<key>dhospital</key>
			<string>安贞医院</string>
			<key>doffice</key>
			<string>泌尿外科</string>
			<key>dgoodat</key>
			<string>擅长：在前列腺疾患、泌尿男科、性病及肾移植方面有较丰富的临床工作经验</string>
			<key>dintroduce</key>
			<string>侯铸，男，主任医师，1985年就读于合肥安徽医科大学。在上海完成医疗实习。1990年分配到北京从事临床医疗工作至今。曾在北京医科大学、首都医科大学附属医院系统学习男性学、性病及肾移植等相关知识。通过在职研究生英语及医学综合全国统考。在前列腺疾患、泌尿男科、性病及肾移植方面有较丰富的临床工作经验。发表医学论文14篇。翻译中国《全科医师培训教材》第15章，2009年参编《前列腺疾病用药100问》化学工业出版社。
社会任职：
北京中医药学会，第四届男科专业委员会委员
北京中西医结合学会委员
中华医学会会员
中国性学会会员
中华医院管理学会会员
首都医科大学第六临床医院临床技能训练中心教师</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201603/20/1458440496060_2242.jpg</string>
			<key>dName</key>
			<string>成九梅</string>
			<key>dposition</key>
			<string>主任医师</string>
			<key>dhospital</key>
			<string>北京妇产医院东院</string>
			<key>doffice</key>
			<string>妇科</string>
			<key>dgoodat</key>
			<string>擅长：子宫肌瘤、子宫内膜息肉、子宫内膜异位症、卵巢肿瘤、不孕症</string>
			<key>dintroduce</key>
			<string>成九梅，女，主任医师，医学硕士。卫生部四级内镜手术培训导师。1990年本科毕业于安徽医科大学医学系。后即从事妇产科临床、科研及教学工作，2004年6月获首都医科大学妇科内镜专业硕士学位。2009年晋升为妇产科主任医师。自1997年开始致力于妇科微创的临床医疗、教学、科研等工作，具有丰富的临床经验和妇科微创诊治技能。率先在国内开展早期恶性肿瘤（子宫内膜癌、宫颈癌、卵巢癌）的微创治疗，取得非常好的社会效益；在子宫肌瘤、子宫腺肌病、不孕症、女性生殖系统畸形（先天性无阴道、纵膈子宫）、盆底障碍性疾病、宫腔粘连等疾病的微创治疗方面有很深造诣，先后在妇产科专业期刊上发表学术论文十余篇。主持研究课题为“子宫内膜ER、TGF-β1和MMP-9表达的研究及其可能在宫腔粘连发病机制中的作用”获得2004年西城区科技进步三等奖；“腹腔镜子宫腺肌病灶挖除+子宫动脉阻断术治疗子宫腺肌病的临床应用”在2007年第三次全国妇产科中青年医师学术大会上获得优秀论文三等奖。在2009世界内镜医师大会上被授予中国内镜杰出青年医师。</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201508/08/1438997269318_6309.jpg</string>
			<key>dName</key>
			<string>赵丽君</string>
			<key>dposition</key>
			<string>副主任医师</string>
			<key>dhospital</key>
			<string>北京大学人民医院</string>
			<key>doffice</key>
			<string>妇科</string>
			<key>dgoodat</key>
			<string>擅长：宫颈疾病、月经不调、验证、妇科阴道炎、盆腔炎</string>
			<key>dintroduce</key>
			<string>曾任北京市第五社会福利院副院长，市第一社会福利院院长、党支部副书记，市民政局组织人事处处长。2009年11月任现任北京市民政局党委常委、组织人事处处长。2012.5拟任北京市妇女联合会党组成员，推荐为北京市妇女联合会副主席人选（试用期一年）。</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201501/22/thumbnail_1421919576536_IMG_2508.JPG</string>
			<key>dName</key>
			<string>冯岩</string>
			<key>dposition</key>
			<string>主任医师</string>
			<key>dhospital</key>
			<string>阜外心血管病医院</string>
			<key>doffice</key>
			<string>心血管内科</string>
			<key>dgoodat</key>
			<string>擅长：高血压、心律失常、头痛</string>
			<key>dintroduce</key>
			<string>暂无该医生介绍</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://api.yishengshu.com.cn/healthtree-patient/resource/showImg.json?imgPath=/201601/03/thumbnail_1451792676019_temp.jpg</string>
			<key>dName</key>
			<string>王雪梅</string>
			<key>dposition</key>
			<string>主任医师</string>
			<key>dhospital</key>
			<string>北京大学第三医院</string>
			<key>doffice</key>
			<string>小儿内分泌科</string>
			<key>dgoodat</key>
			<string>擅长：儿童矮小症、肥胖症、性早熟、糖尿病、甲状腺疾病、营养障碍</string>
			<key>dintroduce</key>
			<string>暂无该医生介绍</string>
		</dict>
		<dict>
			<key>imagePath</key>
			<string>http://img.guahao.cn/images/image140//expert/8294552e-1521-45e9-bac0-5de1a5de6f39/682bb27e-b630-4b6a-8496-09e9eea9dee2.jpg</string>
			<key>dName</key>
			<string>孙君重</string>
			<key>dposition</key>
			<string>主任医师</string>
			<key>dhospital</key>
			<string>中国人民解放军总医院第一附属医院</string>
			<key>doffice</key>
			<string>无</string>
			<key>dgoodat</key>
			<string>无</string>
			<key>dintroduce</key>
			<string>暂无该医生介绍</string>
		</dict>
	</array>
</dict>
</plist>
