<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郝建荣</string>
				<key>tel</key>
				<string>13001280006</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>殷煜</string>
				<key>tel</key>
				<string>13693300432</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>葛桂珍</string>
				<key>tel</key>
				<string>15801597529</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>翟博娜</string>
				<key>tel</key>
				<string>18911863372</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李佳</string>
				<key>tel</key>
				<string>18701670763</string>
			</dict>
		</array>
		<key>name</key>
		<string>血透科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨海峰</string>
				<key>tel</key>
				<string>13581925314</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>朴永军</string>
				<key>tel</key>
				<string>18618284120</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张富强</string>
				<key>tel</key>
				<string>15601251545</string>
			</dict>
		</array>
		<key>name</key>
		<string>神经外科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>余春晓</string>
				<key>tel</key>
				<string>13811384503</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李健</string>
				<key>tel</key>
				<string>13681353580</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>逯震芳</string>
				<key>tel</key>
				<string>13661126111</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>化静</string>
				<key>tel</key>
				<string>18513587678</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘敏</string>
				<key>tel</key>
				<string>13810587145</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘霁尘</string>
				<key>tel</key>
				<string>13426082653</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨义军</string>
				<key>tel</key>
				<string>15001007511</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张莹莹</string>
				<key>tel</key>
				<string>15010022560</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陈亮</string>
				<key>tel</key>
				<string>18501307842</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>石金凤</string>
				<key>tel</key>
				<string>13522020345</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张建红</string>
				<key>tel</key>
				<string>18610102550</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>温正军</string>
				<key>tel</key>
				<string>15210489196</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张洪丽</string>
				<key>tel</key>
				<string>13522876956</string>
			</dict>
		</array>
		<key>name</key>
		<string>呼吸内科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>周伟</string>
				<key>tel</key>
				<string>13910399735</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>夏业富</string>
				<key>tel</key>
				<string>13240383346</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>许金刚</string>
				<key>tel</key>
				<string>15901361711</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>侯军</string>
				<key>tel</key>
				<string>13611058593</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘滋伟</string>
				<key>tel</key>
				<string>13366222450</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张延光</string>
				<key>tel</key>
				<string>13311284646</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>何伟</string>
				<key>tel</key>
				<string>15901333360</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>马振宇</string>
				<key>tel</key>
				<string>13621302950</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王业成</string>
				<key>tel</key>
				<string>15652303296</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>商伟岩</string>
				<key>tel</key>
				<string>13126641375</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨宏俊</string>
				<key>tel</key>
				<string>13810681828</string>
			</dict>
		</array>
		<key>name</key>
		<string>普外科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张颖</string>
				<key>tel</key>
				<string>13693530851</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>衣晶</string>
				<key>tel</key>
				<string>13691570530</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>高宝明</string>
				<key>tel</key>
				<string>18513146993</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王鹤</string>
				<key>tel</key>
				<string>13651326526</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>付桂霞</string>
				<key>tel</key>
				<string>13488675566</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>魏薇</string>
				<key>tel</key>
				<string>15001087169</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郭慧</string>
				<key>tel</key>
				<string>13264125045</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>顾启亮</string>
				<key>tel</key>
				<string>15910266129</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王业成</string>
				<key>tel</key>
				<string>15652303296</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>尹贵荣</string>
				<key>tel</key>
				<string>15910266129</string>
			</dict>
		</array>
		<key>name</key>
		<string>神经内二科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>崔凤霄</string>
				<key>tel</key>
				<string>13693316268</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李炳东</string>
				<key>tel</key>
				<string>13311511253</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>吉地</string>
				<key>tel</key>
				<string>13910917299</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>安淑芹</string>
				<key>tel</key>
				<string>13651105279</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘全立</string>
				<key>tel</key>
				<string>13241307960</string>
			</dict>
		</array>
		<key>name</key>
		<string>康复科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>汪贵娥</string>
				<key>tel</key>
				<string>18510189060</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张晓红</string>
				<key>tel</key>
				<string>18511896774</string>
			</dict>
		</array>
		<key>name</key>
		<string>皮肤科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>卫力晋</string>
				<key>tel</key>
				<string>13301038731</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王长军</string>
				<key>tel</key>
				<string>15010041007</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘岩</string>
				<key>tel</key>
				<string>13611211347</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>侯军</string>
				<key>tel</key>
				<string>13611058593</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>吴立君</string>
				<key>tel</key>
				<string>13681196905</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>侯建勇</string>
				<key>tel</key>
				<string>13426325178</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孔亮</string>
				<key>tel</key>
				<string>18610626272</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>宋正鑫</string>
				<key>tel</key>
				<string>18610173568</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李丙岩</string>
				<key>tel</key>
				<string>15910816477</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨传忠</string>
				<key>tel</key>
				<string>13693661450</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘兵兵</string>
				<key>tel</key>
				<string>13720046788</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>毛英夫</string>
				<key>tel</key>
				<string>13810291299</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨东翔</string>
				<key>tel</key>
				<string>13811965012</string>
			</dict>
		</array>
		<key>name</key>
		<string>骨科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>冀永萍</string>
				<key>tel</key>
				<string>13701278462</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘秀兰</string>
				<key>tel</key>
				<string>13693251720</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张燕</string>
				<key>tel</key>
				<string>13693018146</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王爱军</string>
				<key>tel</key>
				<string>15901351811</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘桂花</string>
				<key>tel</key>
				<string>13581603178</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>乔江丽</string>
				<key>tel</key>
				<string>15210369398</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李艳红</string>
				<key>tel</key>
				<string>15901336055</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘玉</string>
				<key>tel</key>
				<string>13720083877</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨乐</string>
				<key>tel</key>
				<string>15810076761</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>胡玉梅</string>
				<key>tel</key>
				<string>13522436537</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杜利莎</string>
				<key>tel</key>
				<string>13261807972</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>崔荣荣</string>
				<key>tel</key>
				<string>13720081572</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陈珊</string>
				<key>tel</key>
				<string>15901381456</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>胡家芳</string>
				<key>tel</key>
				<string>13051755251</string>
			</dict>
		</array>
		<key>name</key>
		<string>妇产科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王昭迪</string>
				<key>tel</key>
				<string>13366263656</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李金海</string>
				<key>tel</key>
				<string>13611091189</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李勇</string>
				<key>tel</key>
				<string>18410281743</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>车福盈</string>
				<key>tel</key>
				<string>18810535372</string>
			</dict>
		</array>
		<key>name</key>
		<string>耳鼻咽喉科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王小荣</string>
				<key>tel</key>
				<string>13651213804</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孙彦琴</string>
				<key>tel</key>
				<string>13621367556</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李利军</string>
				<key>tel</key>
				<string>13810258145</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>白旭鹏</string>
				<key>tel</key>
				<string>18618110231</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李慧君</string>
				<key>tel</key>
				<string>13488736219</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>黄丽洪</string>
				<key>tel</key>
				<string>18612714272</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李芳</string>
				<key>tel</key>
				<string>18511224648</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>褚亮</string>
				<key>tel</key>
				<string>15301061830</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李志超</string>
				<key>tel</key>
				<string>15810358630</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王莹</string>
				<key>tel</key>
				<string>18701129656</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王向华</string>
				<key>tel</key>
				<string>13810629265</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>崔遥盼</string>
				<key>tel</key>
				<string>15010002503</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张金英</string>
				<key>tel</key>
				<string>15032585709</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>翟忠旺</string>
				<key>tel</key>
				<string>13641015160</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李俊英</string>
				<key>tel</key>
				<string>13693123207</string>
			</dict>
		</array>
		<key>name</key>
		<string>心内科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张铁铁</string>
				<key>tel</key>
				<string>13671088967</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陈峰</string>
				<key>tel</key>
				<string>13683299604</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陈安超</string>
				<key>tel</key>
				<string>13321158273</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>石尚易</string>
				<key>tel</key>
				<string>13552622422</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李敬彬</string>
				<key>tel</key>
				<string>15810839097</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>柴攀</string>
				<key>tel</key>
				<string>13601204128</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>岳宏</string>
				<key>tel</key>
				<string>13691458646</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王宏勇（专家）</string>
				<key>tel</key>
				<string>13146146356</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>符骏（休病假）</string>
				<key>tel</key>
				<string>13910170707</string>
			</dict>
		</array>
		<key>name</key>
		<string>泌尿外科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王皎磊</string>
				<key>tel</key>
				<string>13801296400</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陈东进</string>
				<key>tel</key>
				<string>13366301782</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孔冬青</string>
				<key>tel</key>
				<string>13661271340</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郑林</string>
				<key>tel</key>
				<string>13241307882</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李建军</string>
				<key>tel</key>
				<string>13683306161</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张春霞</string>
				<key>tel</key>
				<string>13681108217</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨晓丽</string>
				<key>tel</key>
				<string>13161168759</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李雅惠</string>
				<key>tel</key>
				<string>13031013125</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李月</string>
				<key>tel</key>
				<string>13716236173</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵阳</string>
				<key>tel</key>
				<string>13552635736</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>安瑞超</string>
				<key>tel</key>
				<string>15369462829</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>苑菲菲</string>
				<key>tel</key>
				<string>15910451804</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>高盼</string>
				<key>tel</key>
				<string>18701268354</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>吕娜</string>
				<key>tel</key>
				<string>15120015008</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王兆丰</string>
				<key>tel</key>
				<string>18515678761</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张云云</string>
				<key>tel</key>
				<string>18515675690</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>柴璐</string>
				<key>tel</key>
				<string>13522877626</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>何兵</string>
				<key>tel</key>
				<string>13522876842</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李造新</string>
				<key>tel</key>
				<string>13718035891</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>任学峰</string>
				<key>tel</key>
				<string>18201267836</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>周尧</string>
				<key>tel</key>
				<string>13552993165</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李宏艳</string>
				<key>tel</key>
				<string>18201696980</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>朱静</string>
				<key>tel</key>
				<string>18210346059</string>
			</dict>
		</array>
		<key>name</key>
		<string>尘肺与结核科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张丽萍</string>
				<key>tel</key>
				<string>18500439926</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>田英</string>
				<key>tel</key>
				<string>13717621873</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李静敏</string>
				<key>tel</key>
				<string>13520105271</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>董俊娟</string>
				<key>tel</key>
				<string>13241307361</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>吴铭</string>
				<key>tel</key>
				<string>15611867206</string>
			</dict>
		</array>
		<key>name</key>
		<string>尘肺与结核科药房</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>袁红梅</string>
				<key>tel</key>
				<string>13641221774</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>段凤英</string>
				<key>tel</key>
				<string>13521225220</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘磊</string>
				<key>tel</key>
				<string>13501010888</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>焦素敏</string>
				<key>tel</key>
				<string>13717725286</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘亚娟</string>
				<key>tel</key>
				<string>18612726499</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>贾向燕</string>
				<key>tel</key>
				<string>18911547994</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>崔凤谊</string>
				<key>tel</key>
				<string>18911547994</string>
			</dict>
		</array>
		<key>name</key>
		<string>儿科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李丰升</string>
				<key>tel</key>
				<string>13552766815</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郑锐</string>
				<key>tel</key>
				<string>13691529552</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘金敬</string>
				<key>tel</key>
				<string>13810206812</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>贾陆红</string>
				<key>tel</key>
				<string>13801102443</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>焦鸿云</string>
				<key>tel</key>
				<string>13701151006</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>付伟</string>
				<key>tel</key>
				<string>13691412811</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>徐霞</string>
				<key>tel</key>
				<string>13683517876</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王登宇</string>
				<key>tel</key>
				<string>13716503089</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郭聪桃</string>
				<key>tel</key>
				<string>13811311735</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李明达</string>
				<key>tel</key>
				<string>13651039938</string>
			</dict>
		</array>
		<key>name</key>
		<string>神经内一科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>袁梦克</string>
				<key>tel</key>
				<string>13661011658</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>畅立斌</string>
				<key>tel</key>
				<string>13488690344</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>尉  红</string>
				<key>tel</key>
				<string>13520811007</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>魏  航</string>
				<key>tel</key>
				<string>15001045803</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>许正杰</string>
				<key>tel</key>
				<string>13522737169</string>
			</dict>
		</array>
		<key>name</key>
		<string>眼科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>马志民</string>
				<key>tel</key>
				<string>13651210314</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李芹灵</string>
				<key>tel</key>
				<string>15311810196</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>白伟娜</string>
				<key>tel</key>
				<string>13439053253</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张井梅</string>
				<key>tel</key>
				<string>13311195869</string>
			</dict>
		</array>
		<key>name</key>
		<string>感染性疾病科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王岩</string>
				<key>tel</key>
				<string>13811455281</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>魏友碧</string>
				<key>tel</key>
				<string>13520015981</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>胡英琪</string>
				<key>tel</key>
				<string>13810715169</string>
			</dict>
		</array>
		<key>name</key>
		<string>康复医学中心</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>封永顺</string>
				<key>tel</key>
				<string>18610269286</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孙晓霞</string>
				<key>tel</key>
				<string>13621370255</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>黄洪兵</string>
				<key>tel</key>
				<string>18618264803</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>史成硕</string>
				<key>tel</key>
				<string>13811982343</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵汉毅</string>
				<key>tel</key>
				<string>18600558729</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>左举萍</string>
				<key>tel</key>
				<string>13146788636</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>韩信杰</string>
				<key>tel</key>
				<string>15911099487</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>彭宁安</string>
				<key>tel</key>
				<string>13301194801</string>
			</dict>
		</array>
		<key>name</key>
		<string>ICU</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>马育霞</string>
				<key>tel</key>
				<string>18911098416</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵有生</string>
				<key>tel</key>
				<string>18611833906</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王超</string>
				<key>tel</key>
				<string>13811570732</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李  柯</string>
				<key>tel</key>
				<string>15810074535</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张曙明</string>
				<key>tel</key>
				<string>13521668058</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>冯  娜</string>
				<key>tel</key>
				<string>13439855158</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>车成琦</string>
				<key>tel</key>
				<string>18501203531</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>金  星</string>
				<key>tel</key>
				<string>15801028169</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>冯  琴</string>
				<key>tel</key>
				<string>13426423723</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>宋 超</string>
				<key>tel</key>
				<string>13301078794</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>董 昆</string>
				<key>tel</key>
				<string>13641002005</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李晓丽</string>
				<key>tel</key>
				<string>13426428906</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张  延</string>
				<key>tel</key>
				<string>13269428381</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘广元</string>
				<key>tel</key>
				<string>18911320516</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孙文侠</string>
				<key>tel</key>
				<string>13581628845</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王  壬</string>
				<key>tel</key>
				<string>13901377319</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>耿春光</string>
				<key>tel</key>
				<string>15910777419</string>
			</dict>
		</array>
		<key>name</key>
		<string>口腔科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>白沁宜</string>
				<key>tel</key>
				<string>13641092251</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>蔡明星</string>
				<key>tel</key>
				<string>13240409551</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>曹红霞</string>
				<key>tel</key>
				<string>13011209083</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>崔文珠</string>
				<key>tel</key>
				<string>13683351346</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>段  蕊</string>
				<key>tel</key>
				<string>13671018698</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>樊彩云</string>
				<key>tel</key>
				<string>13581676318</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>冯银芳</string>
				<key>tel</key>
				<string>13121503791</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>高荣莲</string>
				<key>tel</key>
				<string>15611271990</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郝宝兰</string>
				<key>tel</key>
				<string>15811556919</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>郝淑珍</string>
				<key>tel</key>
				<string>13718839264</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>黄晓丽</string>
				<key>tel</key>
				<string>13811469103</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>贾晓燕</string>
				<key>tel</key>
				<string>15810693628</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>金  依</string>
				<key>tel</key>
				<string>13911439261</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孔  靖</string>
				<key>tel</key>
				<string>13488667194</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李  娜</string>
				<key>tel</key>
				<string>13426194262</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李淑红</string>
				<key>tel</key>
				<string>18612725849</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>李艺慧</string>
				<key>tel</key>
				<string>15801420880</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>蔺佳媛</string>
				<key>tel</key>
				<string>13126699611</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘  辛</string>
				<key>tel</key>
				<string>13811314887</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘建平</string>
				<key>tel</key>
				<string>13717662948</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>刘俊书</string>
				<key>tel</key>
				<string>13718661889</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>吕书霞</string>
				<key>tel</key>
				<string>13718785309</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>马  辉</string>
				<key>tel</key>
				<string>13910703713</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>马金林</string>
				<key>tel</key>
				<string>13671366138</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>乔建会</string>
				<key>tel</key>
				<string>15010519686</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>史立君</string>
				<key>tel</key>
				<string>13693616004</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>宋思琪</string>
				<key>tel</key>
				<string>13810692491</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>宋志飞</string>
				<key>tel</key>
				<string>13520741794</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>孙利华</string>
				<key>tel</key>
				<string>18611784686</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>唐晓辉</string>
				<key>tel</key>
				<string>13717878627</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>陶丽媛</string>
				<key>tel</key>
				<string>18600405468</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>田秀荣</string>
				<key>tel</key>
				<string>13681585166</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>田雨锋</string>
				<key>tel</key>
				<string>13811612603</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王  喆</string>
				<key>tel</key>
				<string>13811095492</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王朝玉</string>
				<key>tel</key>
				<string>15210982994</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王金莉</string>
				<key>tel</key>
				<string>13681389915</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王立军</string>
				<key>tel</key>
				<string>18610598866</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王丽</string>
				<key>tel</key>
				<string>13520950956</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王丽丽</string>
				<key>tel</key>
				<string>13718270822</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>邢  鹏</string>
				<key>tel</key>
				<string>13581517853</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>徐  磊</string>
				<key>tel</key>
				<string>13426334921</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>徐永田</string>
				<key>tel</key>
				<string>13051596575</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨顺英</string>
				<key>tel</key>
				<string>13716214431</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杨子豪</string>
				<key>tel</key>
				<string>15901176126</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>于忠华</string>
				<key>tel</key>
				<string>13811095493</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张德江</string>
				<key>tel</key>
				<string>18610988530</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张丽超</string>
				<key>tel</key>
				<string>13126670432</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张有宝</string>
				<key>tel</key>
				<string>13717908793</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>张玉荣</string>
				<key>tel</key>
				<string>13681390918</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵宏生</string>
				<key>tel</key>
				<string>15910346510</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵雅娜</string>
				<key>tel</key>
				<string>13810046552</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>赵跃</string>
				<key>tel</key>
				<string>13521433881</string>
			</dict>
		</array>
		<key>name</key>
		<string>药剂科</string>
	</dict>
	<dict>
		<key>HLContactDoctors</key>
		<array>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>杜桂清</string>
				<key>tel</key>
				<string>15910652895</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>王秋红</string>
				<key>tel</key>
				<string>15811164270</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>contacts_head_icon</string>
				<key>name</key>
				<string>邓桂霞</string>
				<key>tel</key>
				<string>13693547931</string>
			</dict>
		</array>
		<key>name</key>
		<string>病理科</string>
	</dict>
</array>
</plist>
