<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mh-doctorControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE0943461C856D6000D6ABC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE09435F1C856D6000D6ABC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE09436A1C856D6000D6ABC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
