body{
	margin:10px 0;
	padding: 0px;
	background-color: #ffffff;
	font-family:"微软雅黑";
}
.mui-content{
	background-color: #FFFFFF;
}
h2{
	text-align: center;
}
img{
	width:96%;
	margin-left: 2%;
	margin-top: 10px;
}
.dl{
	margin:10px 2%;
}
p {
    
    color: rgb(0, 0, 0);
}